@model SpravaUdalosti.Models.Event

@{
    ViewData["Title"] = "Delete";
}

<h1>Odstranit</h1>

<h3 class="text-danger">Jste si jist, že chcete odstranit tuto událost?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazevUdálosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazevUdálosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PopisUdalosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PopisUdalosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumUdalosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumUdalosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MistoKonani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MistoKonani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPocetUcastniku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPocetUcastniku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interpret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interpret.NazevInterpreta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-secondary px-3">Zpátky na výpis akcí</a>
    </form>
</div>
