@model SpravaUdalosti.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Detail akce</h1>

<div>
    <h4>@Model.EventName</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            Popis akce
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt class = "col-sm-2">
            Datum
        </dt>
        <dd class = "col-sm-10">
            @Model.EventDate.ToShortDateString() - 
            @Model.EventDate.ToShortTimeString()
        </dd>
        <dt class = "col-sm-2">
            Místo konání
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventPlace)
        </dd>
        <dt class = "col-sm-2">
            Maximální počet účastníků
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxNumberOfParticipants)
        </dd>
        <dt class = "col-sm-2">
            Interpret
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interpret.NameOfInterpret)
        </dd>
    </dl>
</div>
<div>
    @if(User.IsInRole(Roles.AdminRole))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editace</a>
    }
    
    <a asp-action="Index" class="btn btn-outline-secondary">Zpátky na výpis akcí</a>
</div>
