@model IEnumerable<SpravaUdalosti.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Seznam akcí</h1>
@if (User.Identity.IsAuthenticated)
{


    @if (Model.Count() == 0)
    {
        <p>Nejsou naplánované žádne akce</p>
        <a asp-action="Create" class="btn btn-outline-primary">Vytvořít novou údálost</a>
    }
    else
    {

        <p>
            @if (User.IsInRole(Role.RoleAdmin))
            {
                <a asp-action="Create" class="btn btn-primary">Vytvořit novou údálost</a>
            }
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Název akce
                    </th>
                    <th>
                        Popis akce
                    </th>
                    <th>
                        Datum akce
                    </th>
                    <th>
                        Místo konání
                    </th>
                    <th>
                        Max. počet účastníků
                    </th>
                    <th>
                        Interpret
                    </th>
                    <th>
                        Zůčastní se
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazevUdálosti)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PopisUdalosti)
                        </td>
                        <td>
                            @item.DatumUdalosti.ToShortDateString() - @item.DatumUdalosti.ToShortTimeString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MistoKonani)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxPocetUcastniku)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Interpret.NazevInterpreta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ZucastniSe)
                        </td>
                        <td>
                            @if (User.IsInRole(Role.RoleAdmin))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary px-1">Editace</a>
                            }
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info px-1">Detail akce</a>
                            @if (User.IsInRole(Role.RoleAdmin))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger px-1">Odstranit akci</a>
                            }
                            @if (User.IsInRole(Role.RoleUser))
                            {
                                if (item.ZucastniSe < item.MaxPocetUcastniku)
                                {
                                    <a asp-action="PridatSe" asp-route-id="@item.Id" class="btn btn-secondary px-1">Zůčastním se</a>
                                }else
                                {
                                    <a class="btn btn-danger disabled">Akce je plná</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>Pro zobrazení této stránky se musíte přihlásit</p>
}