@model List<SpravaUdalosti.Controllers.AdminController.UserInfo>
@using SpravaUdalosti.Data
@{
    ViewData["Title"] = "Admin sekce";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Uživatel
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <button type="button" onclick="prepinaniRoli('@item.Name', '@Roles.UserRole')" class="btn btn-@(item.Role.Contains(Roles.UserRole) ? "primary" : "light")">@Roles.UserRole</button>
                    <button type="button" onclick="prepinaniRoli('@item.Name', '@Roles.AdminRole')" class="btn btn-@(item.Role.Contains(Roles.AdminRole) ? "danger" : "light")">@Roles.AdminRole</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" asp-controller="Admin" asp-action="Role" id="formRole">
    <input type="hidden" name="userName" id="userName" />
    <input type="hidden" name="roleName" id="roleName" />
</form>

@section Scripts {
    <script>
        function prepinaniRoli(userName, roleName) {
            $("#userName").val(userName);
            $("#roleName").val(roleName);
            $("#formRole").trigger("submit");
        }
    </script>
}
