@model SpravaUdalosti.Models.Interprets

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Interprets</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazevInterpreta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazevInterpreta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PopisInterpreta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PopisInterpreta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HudebniZanr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HudebniZanr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZemePuvodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZemePuvodu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
